.test{
    border: 1px solid red;
    justify-content: end;
}

.header{
    height: 5em;
    padding: 2px;
    align-items: center;
}

.btnActions{
    display: flex;
    justify-content: end;
}

.nav-link{
    cursor: pointer;
}

.form-group{
    margin-top: 5%;
}